.rootHome {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.netflix {
    width: 360px;
    height: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.netflix span {
    width: 100px;
    height: 0;
    background: #DB0001;
    position: absolute;
}

.left {
    animation: anim 1s linear forwards;
    animation-delay: 1s;
    left: 0;
    bottom: 0;
}

.center {
    animation: anim 1s linear forwards;
    animation-delay: 2s;
    top: 0;
    left: 0;
    z-index: 2;
    transform-origin: top left;
    transform: skewX(26.5deg);
    box-shadow: 0 0 50px #000;
}

.right {
    animation: anim 1s linear forwards;
    animation-delay: 3s;
    right: 0;
    bottom: 0;
}


.netflix::after,
h3:before {
    animation: animate 5s linear forwards;
    background: linear-gradient(to right, transparent, #000, #000);
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 300%;
    z-index: 1;
}

@keyframes animate {
    0% {
        right: 0;
    }

    100% {
        right: -250%;
    }
}

h3 {
    position: relative;
    margin: 0;
    padding: 0;
    bottom: -155px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 80px;
    letter-spacing: 10px;
    text-transform: uppercase;
}


@keyframes anim {
    100% {
        height: 100%;
    }
}